th, tr
{
	padding: 5px 30px 5px 30px;
}
td{
	padding: 5px;
}
p
{
	padding-left: 82%;
}
text
{
	border-radius: 10px;
}
body {
  background-image: url('../images/bg3.jpg');
}
.tablebg {
  background-color: white;
}
.savebutton
{
	float:left;
	margin-right:5px;
	background-color: white;
	color: blue;
}
.deletebutton
{
	
	background-color: blue;
	color: white;
}
.editbutton
{
	float:left;
	background-color: white;
	color: blue;
	display: none;
	margin-right:5px;
}
.checkbox_class
{
	text-align: center;
}
.styled-table {
    border-collapse: collapse;
    /*margin: 25px 0;*/
    font-size: 0.8em;
    font-family: sans-serif;
    min-width: 400px;
	border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(191, 65, 65, 0.15);
	margin-left: auto;
    margin-right: auto;
	border-spacing: 10px;
	table-layout: auto;
	
}
.styled-table tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #b5abab;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
input[type='radio']:checked + label
{
	background-color: #ffa500;
}
h1
{
	text-align: center;
}
.table-header
{
	padding-left: 20px;
}

/* .thPadding {
	padding: 0px 35px 0px 35px;
} */